/* app css stylesheet */
.navbar-brand{
    background: url("/app/img/logo.png");
    height: 75px !important;
    width: 200px;
}

.header-separator{
 border: 1px solid #000000;
}

.mislupins-navbar-container{
background: #eeeeec;
}
