<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Buscar: <input ng-model="query">
      Personaje:
      <select ng-model="personajeProp">
        <option value="Bicho y gordi">Bicho y gordi</option>
        <option value="Resorte y el profe">Resorte y el profe</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->
      <ul class="historietas">
        <li ng-repeat="historieta in historietas | filter:query |filter:personajeProp" class="thumbnail">
        {{ historieta.nombre }} {{ historieta.numero }}
        </li>
      </ul>

    </div>
  </div>
</div>


