<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
       Bienvenidos al sitio mislupins.com.ar !!!

       La idea es que en esta página puedan hacer búsquedas de planitos e historietas de las revistucha querida, hacer un seguimiento de sus colecciones, asi como también poder contactarse con otros lupinautas para intercambiar números. Para los que quieran probarlo, hay un usuario creado de prueba los datos son username= colec1 password = test . Al que le interese puede pedirme un usuario a ska@lanux.org.ar y con gusto se los creare (hasta que termine la parte de manejo de usuarios) .
       Las búsquedas estan tomadas del índice que armó Damiano Tsichlias, está en la página de Lectores de Lúpin unidos, todavía hay que hacer algunos ajustes.

       Cualquier comentario es bienvenido a ska@lanux.org.ar.

       Salute! 
    </div>
  </div>
</div>
